<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title>Idealump News CMS</title>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/ja.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>	
	<script src="/js/bootstrap-table-locale.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">  
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
	<div id="loader">
	  <img alt="loader" src="/images/loader.gif" />
	</div>
	<div class="home-container">
	  <header class="home-topbar">
		<nav class="home-navbar">
		  <div class="home-navbar-header">
			<a class="logo" href="/cms">
			  <img alt="logo" src="/images/logo-idealump.svg" />
			</a>
		  </div>
		  <div class="home-navbar-profile">
			<img alt="user-icon" class="user-icon" src="/images/user-icon.png" />
			<div class="username">{{username}}</div>
		  </div>
		</nav>
	  </header>
	  <aside class="home-left-sidebar">
		<nav class="sidebar-nav">
		  <ul id="sidebarnav">
			<li onclick="window.location.href = '/cms'" id="news-list" class="ripple">
			  <a href="/cms" ><i class="far fa-list-alt"></i>News List</a>
			</li>
			<li onclick="window.location.href = '/addnews';" id="add-news" class="ripple">
			  <a href="/addnews"><i class="far fa-newspaper"></i>News Add</a>
			</li>
			<li onclick="window.location.href = '/logout';" class="ripple logout">
			  <a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</li>
		  </ul>
		</nav>
	  </aside>
	  <div class="page-wrapper">
		<div class="page-container">
          <div id="news-list-content" class="content">
			<div class="menu-title">News List</div>
			  <div class="content-container">
				<table id="news-table"></table>
			  </div>
			</div>
			<div id="add-news-content" class="content">
			  <div class="menu-title">
				{% if page == 'edit' %} Edit {% endif %}
				{% if page == 'add' %} Add {% endif %} 
				News</div>
			  <div class="warning rel">{{message}}</div>
			  <div class="content-container clear-margin">
				<form id="addNewsForm" action="{% if page == 'edit' %}/news/{{news.id}}{% else %}/news{% endif %}" 
				 method="POST">
				  <div class="form__group">
					<input type="text" id="id" name="id" 
					  value="{% if Object.keys(news).length !== 0%}{{news.id}}{% else %}{{newNewsId}}{% endif %}" 
					  class="form__field" placeholder="ID" readonly="readonly">
                	  <label for="id" class="form__label">ID</label>
                  </div>
				  <div class="form__group form-group">	
					<label for="date_from" class="form__label">PUBLISH FROM</label>
                    <div class='input-group date' id='date-from'>	
                      <input type="text" id="dateFrom" name="dateFrom" class="form-control form__field"
						readonly="readonly" required onchange="checkForm()" 
						value="{% if Object.keys(news).length !== 0%}{{news.date_from}}{% else %}{{today}}{% endif %}">
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                  <div class="form__group form-group">
					<label for="dateTo" class="form__label">PUBLISH TO</label>
                    <div class="input-group date"  id='date-to'>
					  <input type="text" id="dateTo" name="dateTo" class="form-control form__field"
						readonly="readonly" required onchange="checkForm()" 
						value="{% if Object.keys(news).length !== 0%}{{news.date_to}}{% else %}{{today}}{% endif %}">
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
					</div>
				  </div>
                  <div class="form__group">
					<textarea id="newsContent" name="newsContent" class="form__field" placeholder="NEWS"
					  required onkeyup="checkForm()" rows="4">{% if Object.keys(news).length !== 0%}{{news.news_content}}{% endif %}</textarea>
                    <label for="NEWS" class="form__label">NEWS</label>
                  </div>
                  <div class="form__group radio-form">
                    <span class="radio-label">Enable
					  <input type="radio" id="status" name="status" value="1"
						class="form__field radio" required onchange="checkForm()"
						{% if news.status == 1 %}checked{% endif %}>
					  <span class="checkmark"></span>
					</span>
                    <span class="radio-label">Disable
					  <input type="radio" id="status" name="status" value="0" 
						class="form__field radio" required onchange="checkForm()" 
						{% if news.status == 0 %}checked{% endif %}>
					  <span class="checkmark"></span>
					</span>
                    <label for="id" class="form__label">STATUS</label>
                  </div>
				  <button id="addNewsButton" onclick="return confirm('Are you sure?')" class="addnews-button ripple" type="submit" disabled>{% if page == 'edit' %}EDIT{% else %}ADD{% endif %} </button>
				  {% if page == 'edit' %}
					<button id="cancel" onclick="window.location.href = '/cms'" class="addnews-button ripple">CANCEL</button>
				  {% endif %}
                </form>
              </div>
			</div>
		  </div>
		</div>
	  </div>
	<script src="/js/home.js"></script>
  </body>
</html>