/* Header */

.home-topbar {
  background: linear-gradient(to right, #55EEFE 0%, #e76bffd1 100%);
  position: fixed;
  width: 100%;
  z-index: 2;
  margin-top: -70px;
}
  
.home-navbar {
  display: flex;
  align-items: center;
}
  
.home-navbar-header {
  box-shadow: 5px -4px 10px rgba(0, 0, 0, 0.11);
  text-align: center;
  width: 240px !important;
  height: 70px;
  background: white;
  flex-shrink: 0;
  z-index: 50;
}

.logo img {
  margin-top: 5px;
  padding: 10px;
  width: 75%;
}

.home-navbar-profile {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 35px;
  color: white;
}

.user-icon {
  width: 35px;
  padding: 13px 0;
}

.username {
  padding: 25px 10px;
}


/* Side bar */

.home-left-sidebar {
  position: fixed;
  width: 240px;
  min-height: 629px;
  height: 100%;
  top: 0px;
  z-index: 0;
  padding-top: 70px;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  background: white;
}

ul {
  list-style-type: none;
  margin-top: 40px;
  padding-inline-start: 0;
}

li {
  padding: 20px 40px;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

li:hover {
  background: #349aa50d;
}

.active-menu {
  background: #349aa50d;
}
.active-menu a{
  color: #3fafbbf5;
}

a {
    text-decoration: none;
    color: #54667a;
    font-size: 16px;
}

.far, .fas {
  padding-right: 25px;
}

.ripple {
  transition: background 1s;
}

.ripple:hover {
    background-image: radial-gradient(circle, transparent 1%, #efefef 1%);
    background-position: center;
    background-size: 15000%;
}

.ripple:active {
    transition: background 0s;
    background-color: #fff;
    background-size: 100%;
}
 

/* Page */

.page-wrapper {
  background: #f2f7f8;
  margin-left: 240px;
  min-height: 629px;
  margin-top: 50px;
}

.page-container {
  padding: 25px 30px;
  position: relative;
  z-index: 3;
}

#addNewsForm {
  padding: 0px 50px;
  text-align: right;
}

/* Form */

.button-container {
  display: flex;
}

.addnews-button {
  color: white;
  padding: 10px;
  background: linear-gradient(to right, #BD65DF 0%, #622AFD 100%);
  border: none;
  width: 20%;
  font-weight: 500;
  margin: 40px 40px 0 0;
  border-radius: 6px;
  cursor: pointer !important;
}

.addnews-button:hover {
  background: linear-gradient(to right, #9C27B0 0%, #BD65DF 100%);
}

button:disabled {
  opacity: 0.5;
}

.radio {
  width: 20px;
}

.radio-label {
  color: #666;
  display: block;
  position: relative;
  padding: 0 30px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
}

.radio-form {
  display: flex;
  padding: 20px 0px 0;
}

.radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 30;
  width: 80px;
}

.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

.radio-label:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio-label input:checked ~ .checkmark {
  background-color: #26F2F1;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-label input:checked ~ .checkmark:after {
  display: block;
}

.radio-label .checkmark:after {
      top: 4px;
    left: 4px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}


/* Table */

.status-private {
  color: white;
  background: #7F7F7F;
  padding: 5px 10px;
  width: 80px;
}

.status-public {
  color: white;
  background: #33B490;
  padding: 5px 13px;
  width: 80px;
}

.clear-margin {
  margin: 0 !important;
}

.pagination {
  display: flex;
}

.pagination>li {
  display: flex;
  padding: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.edit, .remove {
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .home-container {
    position: absolute;
    top: 65px;
  }
  
  .home-topbar {
    margin-top: -20px;
  }

  .home-topbar, .home-navbar {
    height: 55px;
    top: 20px;
  }

  .home-navbar-header {
    width: 25% !important;
    height: 55px;
  }

  .home-navbar-profile {
    padding-right: 2px;
  }

  .home-left-sidebar {
    padding-top: 50px;
    width: 100%;
    text-align: center;
  }

  .logo img {
    width: 90%;
    padding-top: 12px;
  }

  .username {
    font-size: 4vw;
  }

  .user-icon {
    width: 30px;
    height: 65px;
    padding-top: 20px;
  }

  ul {
    display: flex;
    margin-top: 0;
  }

  li {
    width: 33.3%;
    padding: 20px 10px;
  }

  .page-wrapper {
    margin-left: 0;
    margin-top: 50px;
    width: 100%;
  }

  .page-container {
    padding: 0;
  }

  .content-container {
    width: 93%;
    min-width: unset !important;
    margin: 0 auto !important;
  }

  .date {
    width: auto;
  }

  .addnews-button {
    width: 50%;
    margin-right: 10px;
  }

  #add-news-content {
    width: 106%;
  }

  #addNewsForm {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 375px) {
  .page-container {
      padding-top: 30px !important;
  }
}