.login-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom right, #55EEFE 0%, #EA69FF 100%);
}
  
.login-box {
  background-color: white;
  width: 300px;
  height: 400px;
  padding: 20px;
  border-radius: 5px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-x: hidden;
}

.login-button {
  color: white;
  padding: 10px;
  background: linear-gradient(to right, #BD65DF 0%, #622AFD 100%);
  border: none;
  width: 100%;
  position: relative;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
}

.login-button:hover {
  background: linear-gradient(to right, #9C27B0 0%, #BD65DF 100%);
}

.round1 {
  width: 150px;
  height: 150px; 
  position: absolute;
  border-radius: 50%;
  right: -75px;
  top: 30px;
  background: linear-gradient(to bottom right, #AD8EF6 0%, #55EEFE 100%);
}

.round2 {
  width: 150px;
  position: absolute;
  height: 150px;
  border-radius: 50%;
  left: -88px;
  bottom: 25px;
  background: linear-gradient(to bottom left, #AD8EF6 0%, #55EEFE 100%);
}

.login-title {
  font-family: inherit;
  color: #26F2F1;
  font-size: 35px;
  margin-top: 70px;
  padding: 5px 35px;
  font-weight: 500;
}

.login-subtitle {
  font-family: inherit;
  color: #BEBEBE;
  padding: 0 35px;
  font-size: 12px;
}

#loginForm {
  padding: 20px 35px;
}

.forgot-pass {
  margin: 20px 10px;
  padding: 0;
  cursor: pointer;
  width: fit-content;
}

button:disabled {
  opacity: 0.5;
}

.ripple {
  transition: background 1s;
}

.ripple:hover {
  background-position: center;
  background-size: 15000%;
}

.ripple:active {
  transition: background 0s;
  background-color: #622AFD;
  background-size: 100%;
}

@media only screen and (max-width: 500px) {
  .login-box {
    width: 65%;
    height: 50%;
  }

  .round1 {
    right: -18%;
    width: 35%;
    height: 23%;
  }

  .round2 {
    left: -18%;
    width: 35%;
    height: 23%;
  }

  .login-title {
    font-size: 7vw;
  }

  .login-subtitle {
    font-size: 3vw;
  }

  .forgot-pass {
    font-size: 3vw;
    padding: 1vw 0;
  }

  .login-button {
    font-size: 4vw;
  }
}